In [3]:
import pandas as pd
import numpy as np

2) Tenemos un dataframe con la informaci√≥n de distintas playlists
armadas por usuarios con el formato (playlist, song_id,
description). A su vez, contamos con un dataframe de canciones
que contiene (song_id, singer, year, lenght, genres).
Se pide generar un programa en Pandas que indique para cada
playlist cual es el cantante predominante (con mas canciones
incluidas dentro de esa lista). (**) (15 pts)

In [16]:
#Genero algunos datos de prueba
num_datos = 1000

canciones = pd.DataFrame({
    'song_id': np.arange(num_datos),
    
    'singer': np.random.choice(np.arange(50), num_datos),
    
    'year': np.random.choice([2015,2016,2017],num_datos),
  
    'lenght':np.random.choice(4, num_datos),
   
    'genres': np.random.choice(['Rock','Cumbia','Reggaeton','Metal','Folclore'], num_datos),
})

canciones.head()

   song_id  singer  year  lenght     genres
0        0       8  2016       1       Rock
1        1      48  2016       1     Cumbia
2        2      28  2017       0     Cumbia
3        3      18  2015       1     Cumbia
4        4      28  2015       3  Reggaeton

In [17]:
informaciones = pd.DataFrame({
        'playlist': np.random.choice(np.arange(100), num_datos),
        'song_id':np.random.choice(np.arange(num_datos), num_datos),
        'description': ['s/d'] * num_datos
})
informaciones.head()

   playlist  song_id description
0         6      923         s/d
1        80      204         s/d
2        91      366         s/d
3        98      374         s/d
4        88       43         s/d

#### Consigna: Se pide generar un programa en Pandas que indique para cada playlist cual es el cantante predominante (con mas canciones incluidas dentro de esa lista)

In [18]:
#Mergeo por song_id en el de canciones, Para cada playlist agrupo por cantante y song_id 
#y cuento las song_id de cada uno,luego muestro el que tiene mas canciones por playlist

In [63]:
union = pd.merge(canciones, informaciones, on='song_id',how= 'inner')

In [85]:
union2 = union.groupby(['playlist','singer']).agg({'song_id':'count'}).reset_index()
union2.groupby(['playlist','singer'])['song_id'].max()

playlist  singer
0         0         1
          2         1
          11        1
          12        1
          16        2
          19        1
          20        2
          29        1
          32        1
          33        1
          39        1
          40        1
          45        1
1         10        1
          12        1
          14        1
          18        2
          20        1
          29        1
          31        1
          32        1
          33        1
          38        1
          48        1
2         0         1
          18        1
          25        1
          33        1
          42        1
          43        1
                   ..
97        0         1
          13        2
          19        1
          20        1
          21        1
          28        1
          29        1
          31        2
          34        1
          35        1
          39        1
98        1         1
          4         1
          7         2
          10        1
          14        1
          15        1
          20        1
          26        1
          31        1
          37        1
          38        1
          45        1
          46        1
99        15        2
          31        1
          35        1
          38        1
          42        1
          48        1
Name: song_id, Length: 903, dtype: int64